In [1034]:
#1

In [23]:
import pandas as pd
import numpy as np
import os
import csv

In [24]:
cwd = os.getcwd()

In [25]:
inputFile1 = 'city_data.csv'
inputFile2 = 'ride_data.csv'

In [26]:
csvpath1 = os.path.join(cwd, inputFile1)
csvpath2 = os.path.join(cwd, inputFile2)

In [38]:
city_df = pd.read_csv(csvpath1)
ride_df = pd.read_csv(csvpath2)
city_df.columns

Index(['city', 'driver_count', 'type'], dtype='object')

In [28]:
city_df[city_df.duplicated(['city'], keep=False)] #checking for duplicates

           city  driver_count      type
84   Port James            15  Suburban
100  Port James             3  Suburban

In [40]:
len(ride_df[ride_df.duplicated(['ride_id'], keep=False)]) #checking for duplicates

0

In [41]:
summary_df = pd.merge(city_df, ride_df, how='outer', on='city')
summary_df.head(3)

         city  driver_count   type                 date   fare        ride_id
0  Kelseyland            63  Urban  2016-08-19 04:27:52   5.51  6246006544795
1  Kelseyland            63  Urban  2016-04-17 06:59:50   5.54  7466473222333
2  Kelseyland            63  Urban  2016-05-04 15:06:07  30.54  2140501382736

In [45]:
avg_fare = summary_df.groupby('city')['fare'].mean()
avg_fare.head(3)

city
Alvarezhaven    23.928710
Alyssaberg      20.609615
Anitamouth      37.315556
Name: fare, dtype: float64

In [48]:
rides_per_city = summary_df.groupby('city')['ride_id'].count()
rides_per_city.head(3)

city
Alvarezhaven    31
Alyssaberg      26
Anitamouth       9
Name: ride_id, dtype: int64

In [64]:
temp = summary_df.groupby('city')['driver_count', 'type']